<h1>{{camera.c_name}}</h1>

<p>IP Address: {{camera.ip_address}}</p>
<p>Port Number: {{camera.port_num}}</p>
<p>Active: {{camera.active}}</p>
<P>Last checked if active: {{camera.last_active}}</p>
<p>Date added: {{camera.added_at}}</p>

<p>Room: {{camera.room.r_name}}</p>

<form method="get" action="{% url 'delete_camera' camera.pk %}">
    <button type="submit">Delete</button>
</form>  

{% if camera.active == True %}
<form method="get" action="{% url 'view_cam' camera.pk %}">
    <button type="submit">View Feed</button>
</form> 
{% else %}
<p>The camera is not currently active.</p>
{% endif %}
<form method='post'>
    {% csrf_token %}
    <button type="submit" name="check_status">Check Status</button>
</form>  